.Consres
{
color: white;
background-color: white;
font-family: "Roboto", Verdana,sans-serif;

}

.Consres-header{
text-align: Center;
color: black;


}
.divDeTabla{
  height: 290px;
  width: 1090px;
  margin-bottom: 10px;
  overflow: auto;
  overflow-y: scroll;
  overflow-x:  scroll;
  color: black;
  margin-top: 50px;
  margin-left: 10px;
  background-color: white;
  
  
}
.divDeTabla2{
  height: 190px;
  width: 500px;
  overflow: auto;
  overflow-y: scroll;
  overflow-x:  scroll;
  color: black;
  margin-top: 0.9px;
  margin-left: 10px;
  background-color: white;
  margin-top: 30px;
  display: inline-flexbox;
}
.divDeTabla3{
  height: 190px;
  width: 500px;
  overflow: auto;
  overflow-y: scroll;
  overflow-x:  scroll;
  color: black;
  margin-top: 0.9px;
  
  background-color: white;
  margin-top: 23px;
  display: inline-block;
  margin-left: 580px;

}

.divDeTabla4{
  height: 230px;
  width: 1090px;
  overflow: auto;
  overflow-y: scroll;
  overflow-x:  scroll;
  color: black;
  margin-left: 10px;
  background-color: white;
  margin-top: 15px;
  display: inline-block;
}
.tableResponsive2
 {
  text-align: center;
  font-family: Arial;
  font-size: 10pt;
  width: 300px;
  background-color: white;  
  height: 100%;
  width: 100%;
  text-align: center;
 }

 .tableResponsive2 th
 {
     border-bottom:  1px solid black;
     border-top:  1px solid black;
     border-left: 1px solid black;
     border-right: 1px solid black;

 }
 .tableResponsive2 thead th{
  padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:3px solid #013455;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(34,122,228)),
        color-stop(0.51, rgb(28,120,231)),
        color-stop(0.87, rgb(17,115,233))
        );
        -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
}
.tableResponsive2 td
{
      border-bottom:  1px solid black;
      border-top:  1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
  }
.tableResponsive2 tbody td{
  padding:10px;
  text-align:center;
  background-color:#E3E5E7;
  border: 2px solid #E7EFE0;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  color:#666;
  text-shadow:1px 1px 1px #fff;
  
}

.bodyResponsive2 td
{
border:1 px solid black;
border-bottom:3 px solid black;
background-color: #9B9A96;
font-size: 12pt;
font-weight: bold;
}

.tableResponsive2 tr:hover
{
  cursor: pointer
  
}

.divDeTabla{
  height: 290px;
  width: 1090px;
  overflow: auto;
  overflow-y: scroll;
  overflow-x:  scroll;
  color: black;
  margin-top: 0.9px;
  margin-left: 10px;
  background-color: white;
}

.tableResponsive
 {
  text-align: center;
  font-family: Arial;
  font-size: 10pt;
  width: 600px;
  background-color: white;  
  height: 100%;
  width: 100%;
  text-align: center;
  
 }

 .tableResponsive th
 {
     border-bottom:  1px solid black;
     border-top:  1px solid black;
     border-left: 1px solid black;
     border-right: 1px solid black;

 }
 .tableResponsive thead th{
  padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:3px solid #013455;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(34,122,228)),
        color-stop(0.51, rgb(28,120,231)),
        color-stop(0.87, rgb(17,115,233))
        );
        -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
}
.tableResponsive td
{
      border-bottom:  1px solid black;
      border-top:  1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
  }
.tableResponsive tbody td{
  padding:10px;
  text-align:center;
  background-color:#E3E5E7;
  border: 2px solid #E7EFE0;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  color:#666;
  text-shadow:1px 1px 1px #fff;
  
}

.bodyResponsive td
{
border:1 px solid black;
border-bottom:3 px solid black;
background-color: #9B9A96;
font-size: 12pt;
font-weight: bold;
}

.tableResponsive tr:hover
{
  cursor: pointer
  
}

 
.Conres-body
{
  text-align: left;
  background: #dbdbdb;
  font-family: "Roboto", Verdana,sans-serif;
  height: 800px;
  width: 1120px;
  }

 .labelErr
{

  color:Red;
  font-size: 15px;
  font-weight: bolder;
}

.Conres-table
{
  font-family: 'Raleway', Arial, sans-serif;
  color:black;
  margin-left: 1vh;
  margin-bottom: 10vh;
  border-collapse: separate;
  border-spacing: 10px  ;
  border-color: white;
  height: 20%;

}

.BotonConsultar
{
  background-image: url("../Imagenes/Search.png");
  width: 48px;
  height: 48px;
  border-radius: 35px;
  border: 1px solid  #013455;
}
.btnDescarga
{
   background-image: url("../Imagenes/download.png");
   width: 16px;
   height: 16px;
   outline:none;
   border: hidden;
   display: inline-block;
   background-color: inherit;
   margin-left: 45px;
 
}

.Conres-table2
{
  color:white;
  margin-bottom: 100px ;
  border-collapse: separate;
  border-spacing: 10px 15px;
  border-color: white;
  margin-left: 5px;
}


.Facturas
{
 margin-left: 20px;
}

.Items
{
margin-left: 6px;
margin-top: 60px;
}




.ImagenLogo{
width:300px;
}

.IconoHome
{
  width:35px;
  margin-left: 4px;
}

.IconosAtras
{
  width:35px;
  margin-left: 400px;
}

.HeaderDerecho
{
width:60% ;
display: inline-block;
}

.HeaderIzq
{
  width: 20% ;
  display: inline-block;
}

@media all and (max-width: 800px) {
    LogoHeader {
      padding: 14px 50px 75px ;
      border:outset;
      padding:1% 1em;
      background-color: white;
      height: 70px;
      min-width: 400px;
    }
}

.Container-PiePagina{
background: #1C70B0;  /* fallback for old browsers */
border: 1px solid yellow;
width: 1320px;
height: 200px;
display: inline-flex;
margin-right: 8px;
margin-top:6px;

}


.Container-logo{
width: 30px;
margin-top: 30px;
}


.Logo-PiePagina{
border-radius: 100%;
width: 150px;
margin-top: 30px;
display: inline-block;
}
.NombreDoc
{
  color:black;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 18px;
  width: 20%;
  margin-top: -40px;

}
.NombreDoc2
{
  color:black;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 15px;
  display: inline-flex;
  text-align: left;
  width: 25%;
  height: 25px;
  display: float;
  

}

.NombreDoc3
{
  color:black;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 15px;
  text-align: justify;
  width: 25%;
  height: 25px;
  display: float;
  margin-left: 52%;
  margin-top: -241px;
}
.PiePagina{
font-family: "Roboto", Verdana,sans-serif;
font-style: normal;
font-weight: bold;
color: white;
font-size: 12px;
display: inline-block;
width: 550px;
margin-right: 330px;
margin-left: 200px;

}



.Container-Redes  {
margin-top: 40px;
display: inline-block;
}

.linkmaps{
text-decoration: underline;
color:yellow;
text-shadow: 1px;
}

.linkmaps:hover {
color: white;

}

.ImagenHeader{
width:300px;
margin-left: 405px;
display: inline-flex;
color:#005B90;
font-style: italic;
font-size: 25px;
font-weight: bold;
}

.NavegationHeader
{
  height: 50px;
  display: inline-flex;
}


.TextoMenu{
font-family: "Roboto", Verdana,sans-serif;
font-style:normal;
font-weight: bold;
font-size: 20px;
}

.list{
margin-right: 16px;
}
