.MainMenu {
  font-family: sans-serif;
  text-align: center;
  background:#dbdbdb;
  width: 1320px;
  height: 981px;

}

.MainMenu {
  font-family: sans-serif;
  text-align: center;
}



.rwt__tabs[data-rwt-vertical="true"] {
  display: flex;
  width: 200px;
  height: 705px;
  top: 0;
  position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  line-height: 2.5;
  
  
  
 }

.rwt__tablist {
	
	border-left: 1px solid #e7ecea;
	-webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  outline: none;
 
}
.tabs nav .TabSolo span {
	vertical-align: middle;
  font-size: 0.75em;
  
}


.rwt__tablist[aria-orientation="vertical"] {
  display: inline-flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;

  

  
  
  } 
  .tabs nav {
    text-align: center;
  
    
  }

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
  flex: 1;

   
}

.tabs nav Tab {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  line-height: 2.5;
  
}
  .tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
   
  }

.rwt__tab {
  background: transparent;
  border: 2;
  font-family: inherit;
  font-size: inherit;
  padding: 1em;
  transition: background 0.3s cubic-bezier(0.22, 01, 0.36, 1);
  color: black;
  border-bottom: 1px solid black;
  width: calc(100% - 20px);
	max-width: 340px;

	border-color: initial;
	display: inline-block;
	text-align: center;
	margin: 10px 5px;
	padding: 10px;
  
  
}

.TabSolo
{
  width: 100%;

}


 
.rwt__tablist nav ul 
{
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.rwt__tab[aria-selected="false"]:hover,
.rwt__tab:focus {
  outline: 0;
  background: #0096d2;
  color: white;
  outline: none;
  
  

}

.rwt__tab[aria-selected="true"] {
  position: relative;
  border: 2;
  border-color: white;
  background-color:#0096d2;
  color:white;
  
 
}

.rwt__tab[aria-selected="true"]:after {
  content: "";
  position: absolute;
  border-bottom: 1;
  
  
}

.rwt__tablist:not([aria-orientation="vertical"])
  .rwt__tab[aria-selected="true"]:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: #0096d2;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translate3d(0,150%,0);
    transform: translate3d(0,150%,0);
    
}
.tabs-style-underline nav li:last-child {
  border-right: 1px solid #e7ecea;
  
}

.icono 
{
  width: 30px; height: 30px;
}

.rwt__tablist[aria-orientation="vertical"]
  .rwt__tab[aria-selected="true"]:after {
    right: -1px;
    top: 0;
    height: 100%;
    border: 3px solid black;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  
}


.rwt__tabs nav li:last-child a {
  border-right: 1px solid #e7ecea;
  
}